@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belleza&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
header{
    max-width: 1680px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content:space-around;
    background: rgba(3, 217, 250, 0.932);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
}
header .logo img{
    width: 29px;
    margin: 0 40px;
}
header .menu{
    display: flex;
}
header .menu ul{
    display: flex;
    padding: 0 150px;
}
header .menu ul li{
    list-style: none;
    padding: 0 30px;
}
header .menu ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Belleza', sans-serif;
    color: #000000;
    transition: all 0.3s;
}
header .menu ul li a:hover{
    color: #7e186f;
    text-decoration: underline;
}
header .menu-mobile{
    display: none;
}
header .btn{
    display: none;
}
/*      SECTION       */
section .container{
    max-width: 1680px;
    width: 100%;
    height: 85vh;
    margin: 0 auto;
}

#branch .container{
    background: url(imagi/vector-JUL-2020-129.jpg) no-repeat;
    background-size: 100% 100%;
}
#branch .container .title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
}
#branch .container .title .line{
    width: 150px;
    height: 2px;
    background: #56b4b2;
}
#branch .container .title h1{
    margin-top:20px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 15px;
    color: #fff;
}
#branch .container .content{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
}
#branch .container .content .box{
    width: 25%;
    height: 60vh;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    transition: 0.3s;
}
#branch .container .box h3{
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    letter-spacing: 8px;
    background: #56b4af;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
}
#branch .container .box img{
    width: 120px;
}
#branch .container .box h1{
    font-size: 2rem;
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 20px;
}
#branch .container .box p{
    margin-top: 60px;
    font-size: 1.8rem;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    color: #ffffff;
}
#branch .container .box button{
    padding: 10px 20px;
    border: none;
    background: #302725;
    color: #fff;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    margin-top: 50px;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    cursor: pointer;
}
#branch .container .box:hover button{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

#footer .container{
    background: url(image/bg3.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#footer .container .content{
    width: 90%;
    height: 40vh;
    background:#66a4d0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer .container .content .left{
    width: 40%;
    margin-left: 60px;
}
#footer .container .content .left h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.2rem;
    font-weight: 200;
    padding: 0 20px;
    letter-spacing: 5px;
}
#footer .container .content .left p{
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    margin-top: 50px;
    padding: 0 20px;
}
#footer .container .content .right{
    width: 40%;
}
#footer .container .content .right input{
    padding: 10px 60px;
    border: none;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 1.1rem;
    outline: none;
}
#footer .container .content .right button{
    padding: 10px 35px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 1.1rem;
    border: none;
    background: #302725;
    color: #fff;
    cursor: pointer;
}
#footer .container .info{
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
#footer .container .info .box{
    display: flex;
    flex-direction: column;
}
#footer .container .info .box h1{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#footer .container .info .box p{
    font-family: 'Belleza', sans-serif;
    margin-top: 10px;
    color: #737373;
}
#footer .container .info .box a{
    font-family: 'Belleza', sans-serif;
    margin-top: 10px;
    text-decoration: none;
    color: #737373;
}
#footer .container .info .box ion-icon{
    font-size: 1.6rem;
}
#footer .container .info .box ion-icon:hover{
    color: #5688b4;
}
#footer .container .line{
    width: 80%;
    height: 1px;
    background: #569db4;
    margin-top: 60px;
}
#footer .container .copyright p{
    font-family: 'Belleza', sans-serif;
    margin-top: 25px;
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #302725;
}
